{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'youtuber-style.css'%}?ver=20211216">
{% endblock %}

{% block content %}



<div class="container">
    <div class="category-title">
        <h2>CATEGORY</h2>
    </div>
    <div class="category-list">
        {% for tag in all_tags %}
            {% if tag.slug == specific_tag_slug %}
                <button type="button" onclick=location.href="{% url 'youtuber:category' %}"  class="btn btn-secondary" style="margin-bottom: 3px;">{{ tag }}</button>
            {% else %}
                <button type="button" onclick=location.href="{% url 'youtuber:category_specific' tag.slug %}" class="btn btn-outline-secondary" style="margin-bottom: 3px;">{{ tag }}</button>
            {% endif %}
        {% endfor %}
    </div>

    <!-- 유투버 리스트  -->
    <div class="category-title">
        <h2>YOUTUBER LIST</h2>
    </div>
    {% for list in specific_youtuber_lists %}
    <div class="youtuber-list">
        <div class="list-title-wrap">
            <div class="list-title">
                <a href="{% url 'youtuber:youtuber_list_detail' list.id %}">
                    <div class="list-sub-name">{{ list.sub_title }}</div>
                    <div class="list-title-name">{{ list.main_title }}</div>
                </a>
            </div>
            
            {% if user.is_authenticated %}
                {% if list in check_my_youtuber_lists %}
                <div class="list-bookmark done">
                    <a href="{% url 'youtuber:remove_my_youtuber_list' list.id%}"><i class="fas fa-bookmark fa-lg"></i></a>
                </div>
                {% else %}
                <div class="list-bookmark ">
                    <a href="{% url 'youtuber:add_my_youtuber_list' list.id %}"><i class="fas fa-bookmark fa-lg"></i></a>
                </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="list-youtuber-wrap">
            {% for youtuber in list.youtubers.all %}
            <a href="{% url 'youtuber:youtuber' youtuber.id %}">
                <div class="list-youtuber">
                    <div class="youtuber-profile-image">
                        <img src="{{ youtuber.profile_image.url }}" alt="{{youtuber.name}}프로필">
                    </div>

                    <div class="list-youtuber-content">
                        <div class="list-youtuber-name"> {{ youtuber.name }}</div>
                        <div class="list-youtuber-dsc"> {{ youtuber.description }} </div>
                        <div class="list-youtuber-tags"> #{{ youtuber.tag.all|join:" #" }}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>



    </div>
    
    {% endfor %}
</div>


</div>

{% endblock content %}