{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'youtuber-style.css'%}?ver=20211216">
{% endblock %}

{% block content %}


<div class="container">
    <!-- 유투버 카테고리 -->
    <div class="youtuber_wrap">
        <div class="category-title">
            <h2>LATEST YOUTUBER</h2>
        </div>


        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for youtuber in youtubers %}
                <div class="swiper-slide">
                    <a href="{% url 'youtuber:youtuber' youtuber.id %}">
                        <img src="{{ youtuber.profile_image.url }}" width="100%" height="100%">
                        <div class="youtuber-name">
                            {{ youtuber.name }}
                        </div>
                        <div class="youtuber-tags">
                            #{{ youtuber.tag.all|join:" #" }}
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div class="swiper-slide last-slide"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>


       
    </div>

    <!-- 유투버 리스트  -->
    <div class="category-title">
        <h2>LATEST YOUTUBER LIST</h2>
    </div>
    {% for list in youtuber_lists %}
    <div class="youtuber-list">
        <div class="list-title-wrap">
            <div class="list-title">
                <a href="{% url 'youtuber:youtuber_list_detail' list.id %}">
                    <div class="list-sub-name">{{ list.sub_title }}</div>
                    <div class="list-title-name">{{ list.main_title }}</div>
                </a>
            </div>
            
            {% if user.is_authenticated and list in check_my_youtuber_lists %}
                <div class="list-bookmark done">
                    <a href="{% url 'youtuber:remove_my_youtuber_list' list.id%}"><i class="fas fa-bookmark fa-lg"></i></a>
                </div>
            {% elif user.is_authenticated and list not in check_my_youtuber_lists %}
                <div class="list-bookmark ">
                    <a href="{% url 'youtuber:add_my_youtuber_list' list.id %}"><i class="fas fa-bookmark fa-lg"></i></a>
                </div>
            {% else %}
            {% endif %}
        </div>

        <div class="list-youtuber-wrap">
            {% for youtuber in list.youtubers.all %}
            <a href="{% url 'youtuber:youtuber' youtuber.id %}">
                <div class="list-youtuber">
                    <div class="youtuber-profile-image">
                        <img src="{{ youtuber.profile_image.url }}" alt="{{youtuber.name}}프로필">
                    </div>

                    <div class="list-youtuber-content">
                        <div class="list-youtuber-name"> {{ youtuber.name }}</div>
                        <div class="list-youtuber-dsc"> {{ youtuber.description }} </div>
                        <div class="list-youtuber-tags"> #{{ youtuber.tag.all|join:" #" }}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>



    </div>
    {% endfor %}
</div>


</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        freeMode: true,
        slidesPerView: 3.5,
        spaceBetween: 0,

        breakpoints: {
          640: {
            slidesPerView: 3.5,
            spaceBetween: 0,
          },
          768: {
            slidesPerView: 4.5,
            spaceBetween: 0,
          },
          1024: {
            slidesPerView: 5.5,
            spaceBetween: 0,
          },
          1280: {
            slidesPerView: 6.5,
            spaceBetween: 0,
          },
        },
    });
   
  </script>
  
  


{% endblock content %}