/* btn */
.mobilemenu_btn{
    width: 70px;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.menu {
	position: relative;
	display:  inline-block;
	width: 24px;
	height: 24px;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}

.menu.ani.open span{
	background-color: rgba(0,0,0,0);
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 20px;
	height: 2px;
	background-color: #000;
	display: block;
}

.menu span:before {
	margin-top: -6px;
}
.menu span:after {
	margin-top: 6px;
}




.ani span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.ani.open span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.ani span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform, background-color;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.ani.open span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
	background-color:#000;
}
.ani span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform, background-color;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.ani.open span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
	background-color:#000;
}
